body {
    font-family: 'Arial', sans-serif;
}

.container {
    max-width: 800px;
}

form {
    margin-top: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.btn {
    margin-top: 10px;
}

#resultPoster {
    max-width: 100%;
    height: auto;
}