body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #ac9797;
    color: #333;
}

header {
    background-color: #19007b;
    color: #fff;
    text-align: center;
    padding: 20px;
}

nav {
    background-color: #eee;
    padding: 10px;
}

nav ul {
    list-style: none;
}

nav li {
    display: inline;
    margin-right: 10px;
}

nav a {
    text-decoration: none;
    color: #19007b;
    font-weight: bold;
}

nav a:hover {
    color: #007bff;
}

main {
    padding: 20px;
}

footer {
    background-color: #19007b;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

